{{!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Producto</h4>
        <p class="card-text">Tienda</p>
        <p class="card-text">$9.999</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Producto</h4>
        <p class="card-text">Tienda</p>
        <p class="card-text">$9.999</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Producto</h4>
        <p class="card-text">Tienda</p>
        <p class="card-text">$9.999</p>
      </div>
    </div>
</div> --}}

<div class="card-columns">
  {{#each product}}
    <div class="card">
      <img class="card-img-top" src="{{this.image_href}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-text">{{this.store}}</p>
        <p class="card-text">{{this.price}}</p>
      </div>
    </div>
  {{/each}}
</div>