<form method="POST" action="/">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="keyword" placeholder="¿Qué estas buscando?">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>