{{> searchform}}
<br />
{{#if results}}
    <p>Mostrando resultados para: {{query}}</p>
<script>
    $(function () {
        $('#nombre').change(function () {
            this.form.submit()
        })
    })

    $(function () {
        $('#tienda').change(function () {
            this.form.submit()
        })
    })

    $(function () {
        $('#precio').change(function () {
            this.form.submit()
        })
    })
</script>
{{/if}}
{{> results}}