<table class="table table-hover">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Acciones</th>
      {{!-- <th>Comida</th>
      <th>Medicamentos</th>
      <th>Accesorios</th> --}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Alimentos</th>
      <td>Ver</td>
      {{!-- <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-primary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td> --}}
    </tr>
    <tr>
      <th scope="row">Medicamentos</th>
      <td>Ver</td>
      {{!-- <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-primary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td> --}}
    </tr>
    <tr>
      <th scope="row">Accesorios</th>
      <td>Ver</td>
      {{!-- <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-primary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td> --}}
    </tr>
    <tr>
      <th scope="row">Tiendas</th>
      <td><a href="/admin/tiendas">Administrar</a></td>
      {{!-- <td><button type="button" class="btn btn-secondary">Agregar</button></td>
      <td><button type="button" class="btn btn-primary">Editar</button></td>
      <td><button type="button" class="btn btn-secondary">Eliminar</button></td> --}}
    </tr>
    <tr>
      <th scope="row">Web Scrapers</th>
      <td><a href="/admin/scrapers">Administrar</a></td>
      {{!-- <td><button type="button" class="btn btn-secondary">Agregar</button></td>
      <td><button type="button" class="btn btn-primary">Editar</button></td>
      <td><button type="button" class="btn btn-secondary">Eliminar</button></td> --}}
    </tr>
    <tr>
      <th scope="row">Usuarios</th>
      <td><a href="/admin/usuarios">Administrar</a></td>
      {{!-- <td><button type="button" class="btn btn-secondary">Agregar</button></td>
      <td><button type="button" class="btn btn-primary">Editar</button></td>
      <td><button type="button" class="btn btn-secondary">Eliminar</button></td> --}}
    </tr>
  </tbody>
</table>