{{#if executeMeds}}
  <div class="alert alert-success">
    Scraper ejecutado con exito. Se han guardado {{counter}} documentos en la DB.
  </div>
{{/if}}
{{#if deleteMeds}}
  <div class="alert alert-success">
    Se han borrado {{counter}} documento(s) de la BD.
  </div>
{{/if}}
{{#if dbToJson}}
  <div class="alert alert-success">
    Se ha generado el archivo .JSON con los datos de la BD exitosamente.
  </div>
{{/if}}
{{#if error}}
  <div class="alert alert-danger">
    Ha ocurrido un error.
  </div>
{{/if}}

<form action="/admin/scrapers/" method="POST" enctype="multipart/form-data">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Tienda</th>
        <th>Comida</th>
        <th>Medicamentos</th>
        <th>Accesorios</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="www.daymascotas.cl">Daymascotas</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="submit" class="btn btn-primary" name="executeMeds" value="daymascotas" onclick="submit(this)">Ejecutar</button>
            <button type="submit" class="btn btn-danger" name="deleteMeds" value="daymascotas">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="www.noi.la">Noi</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="submit" class="btn btn-primary" name="executeMeds" value="noi">Ejecutar</button>
            <button type="submit" class="btn btn-danger" name="deleteMeds" value="noi">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
    </tbody>
  </table>

  <div class="col">
    <button type="submit" class="btn btn-primary" name="executeMeds" value="all">Ejecutar Todos</button>
  </div>
  <br />
  <div class="col">
    <button type="submit" class="btn btn-primary" name="execute" value="toJson">Generar JSON</button>
  </div> 
  <br />
  <div class="col">
    <button type="submit" class="btn btn-secondary" name="execute" value="loadJson">Cargar JSON</button>
  </div> 
  <br />
  <div class="col">
    <input type="file" class="btn btn-secondary" name="uploadFile" multiple="multiple">
    <input type="submit" class="btn btn-secondary" name="execute" value="uploadJson">
  </div> 
  <br />
  <div class="col">
    <button type="submit" class="btn btn-danger" name="deleteMeds" value="all">Borrar Todos</button>
  </div> 
</form>

<script>
  $(function () {
    $('[name=executeMeds]').click(function () {
      this.form.submit()
    })

    $('[name=deleteMeds]').click(function () {
      this.form.submit()
    })

    $('[name=execute]').click(function () {
      this.form.submit()
    })
{{!-- 
    $('[name=upload]').on('click', function () {
      $('[name=uploadFile]').click()
    })

    $('[name=uploadFile]').on('change', function () {
      var files = $(this).get(0).files

      if (files.length > 0) {
        // One or more files selected, process the file upload

        // Create a FormData object which will be sent as the data payload
        // in the AJAX request
        var formData = new FormData()

        // loop through all the selected files
        for (var i = 0; i < files.length; i++) {
          var file = files[i]

          // add the files to formData object for the data payload
          formData.append('upload', file, file.name)
        }

        $.ajax({
          url: '/admin/scrapers',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (data) {
            console.log('upload successful!\n' + data)
          },
          error: function (error) {
            console.log("Err: " + error)
          }
        })
      }
    }) --}}
  })

</script>
