{{#if executeMeds}}
  <div class="alert alert-success">
    Scraper ejecutado con exito. Se han guardado {{counter}} documentos en la DB.
  </div>
{{/if}}
{{#if deleteMeds}}
  <div class="alert alert-success">
    Se han borrado {{counter}} documento(s) de la BD.
  </div>
{{/if}}
{{#if dbToJson}}
  <div class="alert alert-success">
    Se ha generado el archivo .JSON con los datos de la BD exitosamente.
  </div>
{{/if}}
{{#if error}}
  <div class="alert alert-danger">
    Ha ocurrido un error.
  </div>
{{/if}}

<form action="/admin/scrapers/" method="POST">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Tienda</th>
        <th>Comida</th>
        <th>Medicamentos</th>
        <th>Accesorios</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="www.daymascotas.cl">Daymascotas</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="submit" class="btn btn-primary" name="executeMeds" value="daymascotas" onclick="submit(this)">Ejecutar</button>
            <button type="submit" class="btn btn-danger" name="deleteMeds" value="daymascotas">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="www.noi.la">Noi</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="submit" class="btn btn-primary" name="executeMeds" value="noi">Ejecutar</button>
            <button type="submit" class="btn btn-danger" name="deleteMeds" value="noi">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
    </tbody>
  </table>

  <div class="col">
    <button type="submit" class="btn btn-primary" name="executeMeds" value="all">Ejecutar Todos</button>
  </div>
  <br />
  <div class="col">
    <button type="submit" class="btn btn-primary" name="execute" value="toJson">Generar JSON</button>
  </div> 
  <br />
  <div class="col">
    <button type="submit" class="btn btn-danger" name="deleteMeds" value="all">Borrar Todos</button>
  </div> 
</form>
<script>
  $(function () {
    $('[name=executeMeds]').click(function () {
      this.form.submit()
    })
  })
  $(function (){
    $('[name=deleteMeds]').click(function () {
      this.form.submit()
    })
  })
  $(function (){
    $('[name=execute]').click(function () {
      this.form.submit()
    })
  })
</script>
