{{#if success}}
  <div class="alert alert-success">
    Scraper ejecutado con exito. Se han guardado {{counter}} documentos en la DB.
  </div>
{{/if}}
{{#if delete}}
  <div class="alert alert-success">
    Se han borrado {{counter}} documento(s) de la DB.
  </div>
{{/if}}

<form action="/admin/scrapers/" method="POST">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Tienda</th>
        <th>Comida</th>
        <th>Medicamentos</th>
        <th>Accesorios</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="www.daymascotas.cl">Daymascotas</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="button" class="btn btn-primary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="www.noi.la">Noi</a></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
        <td><button type="submit" class="btn btn-primary" name="executeMeds" value="noi">Ejecutar</button>
            <button type="submit" class="btn btn-danger" name="deleteMeds" value="noi">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" value="Ejecutar">Ejecutar</button></td>
      </tr>
    </tbody>
  </table>

  <div class="col">
    <button type="submit" class="btn btn-primary" value="Ejecutar Todos">Ejecutar Todos</button>
  </div>
  <br />
  <div class="col">
    <button type="submit" class="btn btn-danger" value="Borrar Todo">Borrar Todos</button>
  </div> 
</form>
<script>

  {{!--                       Noi                       --}}
  $(function () {
    $('[name=noiExecuteMeds]').click(function () {
      this.form.submit()
    })
  })
  $(function (){
    $('[name=noiDeleteMeds]').click(function () {
        this.form.submit()
    })
  })


</script>
