{{#if success}}
  <div class="alert alert-success">
    Scraper ejecutado con exito
  </div>
{{!-- {{else}}
  <div class="alert alert-danger">
    La ejecución del scraper fallo
  </div> --}}
{{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Tienda</th>
      <th>Comida</th>
      <th>Medicamentos</th>
      <th>Accesorios</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="www.daymascotas.cl">Daymascotas</a></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-primary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="www.noi.la">Noi</a></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-primary">Ejecutar</button></td>
      <td><button type="button" class="btn btn-secondary">Ejecutar</button></td>
    </tr>
  </tbody>
</table>

<form action="/admin/scrapers/" method="POST">
  <button type="submit" class="btn btn-primary">Ejecutar Todos</button>
</form>