<h2>Editar tienda: {{store.location_name}}</h2>
<h3 class="text-muted">Empresa: {{store.brand_name}}</h3>
<br />
<div class="container">
    <form method="POST" action="/admin/tiendas/editar/{{store._id}}?_method=PUT">
        {{> storeform}}
    </form>
    <form method="POST" action="/admin/tiendas/eliminar/{{store._id}}?_method=DELETE">
        <button class="btn btn-danger" type="submit">Eliminar</button>
    </form>
    <br />
</div>